<launch>
	<arg name="paused" default="false"/>
	<arg name="use_sim_time" default="true"/>
	<arg name="gui" default="true"/>
	<arg name="headless" default="false"/>
	<arg name="debug" default="false"/>
	<!-- <arg name="model" default="$(find antenna_description)/urdf/antenna.urdf" /> -->
	<!-- <arg name="gui" default="True" /> -->

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
	    <!-- <arg name="debug" value="$(arg debug)" /> -->
	    <arg name="gui" value="true" />
	    <arg name="paused" value="$(arg paused)"/>
	    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
	    <arg name="headless" value="$(arg headless)"/>
  	</include>

	<!-- <param name="robot_description" textfile="$(arg model)" /> -->
	<!-- <param name="use_gui" value="$(arg gui)"/> -->
	<!-- <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher"/> -->
	<!-- <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher"/> -->
	<node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-file $(find antenna_description)/urdf/antenna.urdf -urdf -z 1 -model antenna"/>
</launch>
